
*.pyc

ShadowOui_LR.egg-info/top_level.txt

ShadowOui_LR.egg-info/requires.txt

ShadowOui_LR.egg-info/entry_points.txt

dist/ShadowOui-LR-1.0.8.tar.gz

.idea/vcs.xml

.idea/ShadowOui-LR.iml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

ShadowOui_LR.egg-info/dependency_links.txt

.idea/encodings.xml

.idea/workspace.xml

ShadowOui_LR.egg-info/SOURCES.txt

ShadowOui_LR.egg-info/PKG-INFO

ShadowOui_LR.egg-info/not-zip-safe

ShadowOui_LR.egg-info/namespace_packages.txt
